 {% if site.valine_comment.enable %}
<div id="comments"></div>
<script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
<script src='//unpkg.com/valine/dist/Valine.min.js'></script>
<script>
  new Valine({
    el: '#comments',
    app_id: '{{ site.valine_comment.leancloud_appid }}',
    app_key: '{{ site.valine_comment.leancloud_appkey }}',
    placeholder: '🥳 快来发表一条评论吧！（允许匿名评论）\n📨 呢称填入QQ号可以自动补全邮箱和显示头像 \n📬 留下您的邮箱，如有回复消息，会通过邮件向您发送通知 \n📝 请遵守网络道德',
    avatar: 'monsterid',
    serverURLs: '{{ site.valine_comment.serverURLs }}',
    visitor: true,
    enableQQ: '{{ site.valine_comment.enableQQ }}'
  });
</script>
{% endif %}
